/**
 * Basic typography style for copy text
 */
body {
	font-size: $font-size-base;
	font-family: $font-family-base;
	color: $text-color;
	line-height: 1.7;
}

// Heading style
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;

	a {
		color: inherit;
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: $font-size-h1;

	@include respond-between(xs, md) {
		font-size: $font-size-h1 / 1.5;
	}
}

h2,
.h2 {
	font-size: $font-size-h2;

	@include respond-between(sm, md) {
		font-size: $font-size-h2 / 1.5;
	}
}

h3,
.h3 {
	font-size: $font-size-h3;

	@include respond-between(sm, md) {
		font-size: $font-size-h3 / 1.5;
	}
}

h4,
.h4 {
	font-size: $font-size-h4;

	@include respond-between(sm, md) {
		font-size: $font-size-h4 / 1.2;
	}
}

h5,
.h5 {
	font-size: $font-size-h5;

	@include respond-between(sm, md) {
		font-size: $font-size-h5 / 1.1;
	}
}

h6,
.h6 {
	font-size: $font-size-h6;

	@include respond-between(sm, md) {
		font-size: $font-size-h6 - 2;
	}
}

p {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	padding-left: 20px;
	margin-bottom: 15px;

	ul {
		margin-bottom: 0;
	}

	li {
		padding-top: 6px;
		padding-bottom: 6px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

ol {
	@extend ul;
}

blockquote {
	position: relative;
	display: block;
	margin-bottom: 25px;
	padding: 20px 20px;
	text-align: left;
	line-height: 2;
	font-size: $font-size-large;
	font-style: italic;
	color: $white;
	background-color: $gray;
	border-left: 4px solid $brand-primary;

	p {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		color: inherit;
	}
}

hr {
	height: 0;
	margin: 10px auto 40px;
	border: 0 $black solid;
	border-top-width: 1px;
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border: none;
}

img[src$=".svg"] {
	width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

/* Link
------------------------------------------------------------------------------*/
a {
	color: $brand-primary;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;

	&:hover,
	&:focus {
		color: $black;
		text-decoration: underline;
		outline: none;
	}
}

/* Tables
------------------------------------------------------------------------------*/
table {
	border-spacing: 0;
	border-collapse: collapse;

	td {
		text-align: left;
		font-weight: normal;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar
}

.table-bordered {
	width: 100%;
	max-width: 100%;
	text-align: left;

	td,
	th {
		vertical-align: bottom;
		border-bottom: 1px solid #ddd;
		padding: 10px;
	}
}